<section id="bmy-articles">
<div class='article-item'>
	<div class='float-left article-author-info'>
		<div class='article-author'><span class="glyphicon glyphicon-user user-icon"></span>{{article.author}}</div>
		<div class='article-author-func'>
			<a class='sendmail-btn' href="#">发送站内信</a>
			<a class='addfriend-btn' href="#">加为好友</a>
		</div>
	</div>

	<div class='float-right article-main'>
		<div class='article-title'>
			<div class='float-left'>{{article.title}}</div>
			<div class='float-right btn-group'>
				<button type='button' class='btn btn-default'>回复</button>
				<button type='button' class='btn btn-default dropdown-toggle' data-toggle="dropdown">
					<span class='caret'></span>
					<span class='sr-only'>Toggle Dropdown</span>
				</button>
				<ul class='dropdown-menu' role='menu'>
					<li><a href='#'>同主题由此展开</a></li>
					<li class='divider'></li>
					<li><a href='#'>同主题列表</a></li>
					<li><a href='#'>同主题从主楼展开</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class='article-body'>{{bmy-article-content article.content}}</div>
	</div>

	<div class='clear'></div>
</div>
</section>
