html {
	min-width: 1200px;
	height: 100%;
}

body {
	height: 100%;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

#bmy-navbar {
	margin-bottom: 0px !important;
	border-bottom-width: 0px !important;
	height: 30px !important;
	min-height: 0px;
	line-height: 30px !important;
	background: #333333 !important;
	color: #FFFFFF !important;
}

#bmy-ps-info {
	margin-right: 10px;
}

div#bmy-body {
	min-width: 100%;
	margin-top:
}

div.bmy-container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	min-height: 100%;
	position: relative;
}

#bmy-sidebar-left {
	padding: 0px 25px !important;
	background: #F5F5F5;
	width: 197px;
	border-right: #D9D9D9 3px solid;
}

#bmy-sidebar-left header {
	margin-top: 30px;
	margin-bottom: 12px;
	height: 80px;
}

#bmy-sidebar-left ul.nav {
	border: none !important;s
}

#bmy-sidebar-left a {
	color: #717171;
/*	padding-left: 30px;*/
}

#bmy-sidebar-left ul.nav li > a:hover {
	background: #000;
	border: none;
}

#bmy-sidebar-left ul.nav li {
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	display: block;
	font-weight: lighter;
}

#bmy-sns {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: #D5D5D5 1px solid;
	border-bottom: #D5D5D5 1px solid;
}

#bmy-sns div {
	text-align: center;
	color: white;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-bottom: 10px;
}

#bmy-sns div:hover {
	cursor: pointer;
}

div#bmy-rr {
	background: #0077C3;
}

div#bmy-wb {
	background: #C30040;
}

div#bmy-brd-index {
	font-size: 14px;
}

div.bmy-sec {
	margin-top: 20px;
}

div.bmy-sectitle {
	font-weight: bolder;
}

#bmy-content {
	padding: 15px;
	min-height: 500px;
	width: 1000px;
	position: relative;
}

#bmy-content header #ads {
	height: 80px;
	background: #EEEEEE;
}

#container {
	float: left;
	width: 100%;
}

#bmy-board-header {
	float: left;
	width: 100%;
	padding: 20px 22px;
}

#board-header-left {
	float: left;
}

#board-header-left h3 {
	margin: 0;
	float: left;
}

#board-header-left div {
	float: left;
	margin-top: 8px;
	padding-left: 20px;
}

/*#board-header-left img {
	float: left;
	width: 120px;
	height: 26px;
	margin-top: 12px;
}*/

#btn-add-to-collection {
	clear: both;
	display: block;
	margin: 14px 0;
}

#board-header-right {
	float: right;
}

#board-header-right div{
	float: right;
	clear: both;
	margin-bottom: 4px;
}

#bmy-board-content {
	margin: 0 22px;
}

#bmy-board-hot {
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

.hot-item {
	float: left;
	clear: both;
}

.hot-item div {
	float: left;
	color: red;
	font-size: 16px;
	padding-right: 10px;
}

.hot-item a, .hot-item span {
	display: block;
	float: left;
}

.hot-tittle {
	padding: 2px 15px 0 0;
	color: black;
}

.hot-user {
	padding: 2px 15px 0 0;
}

.hot-date {
	font-size: 12px;
	color: #aaa;
	padding-top: 5px;
}

#bmy-board-postlist, #postlist-operation, #postlist-publish, #postlist-mode, #postlist-topbottom {
	float: left;
}

#bmy-board-postlist {
	width: 100%;
}

#postlist-operation {
	width: 100%;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
	padding: 10px 0;
}

#postlist-publish {
	width: 95px;
	height: 38px;
	margin-right: 180px;
	border: #ccc 1px solid;
}

#postlist-mode, #postlist-topbottom {
	padding: 4px 15px;
}

#postlist-mode div{
	width: 66px;
	height: 30px;
	float: left;
	border: #ccc 1px solid;
}

#postlist-topbottom div{
	width: 40px;
	height: 30px;
	float: left;
	border: #ccc 1px solid;
}

#postlist-paging {
	float: right;
}

#postlist-paging span, #postlist-paging form {
	display: block;
	float: left;
}

#postlist-paging span {
	padding: 8px 10px;
}

#postlist-paging form {
	padding: 7px 10px;
}

#postlist-paging form input {
	width: 30px;
	height: 24px;
}

#postlist-paging form button {
	height: 23px;
}
