<div id="img-wrapper" class="float-center">
	<div id="img-container" class="bmy-box-shadow"></div>
	<div id="img-nav"></div>
</div>

<div class="form-signin float-center">
	{{#if is_login}}
	<div id="direct-login">
		<h3>您已登录系统，请直接<span {{action 'redirect'}}>进入</span></h3>
	</div>
	{{else}}
	<div id="login-form" class="form-inline float-center">
		<div class="form-group">
			<input class="form-control" autofocus="" id="username" type="text" placeholder="用户名">
		</div>
		<div class="form-group">
			<input class="form-control" id="password" type="password" placeholder="密码">
		</div>
		<div class="checkbox">
			<label><input id="chk_remember" type="checkbox">记住我</label>
		</div>
		<button id="btn-login" class="btn btn-primary" type="submit" {{action 'login'}}>登录</button>
	</div>
	{{/if}}
	<div id="bmy-links">
		<div class="bmy-link-line">
			<a href="#">匿名登录</a><a href="#">telnet登录</a><a href="#">CTerm工具下载</a>
		</div>
		<div class="bmy-link-line">
			<span id="newreg">新用户注册</span><a href="#">老 Web</a><a href="#">找回密码</a>
		</div>
	</div>
</div>
