<div id="img-wrapper" class="float-right">
	<div id="img-container"></div>
	<div id="img-nav"></div>
</div>

<div class="form-signin float-left">
	<h2>欢迎访问兵马俑 BBS</h2>
	{{#if is_login}}
	<div id="direct-login">
		<h3>您已登录系统，请直接进入</h3>
		<button id="btn-direct-login" class="btn btn-primary btn-lg btn-block" type="submit" {{action 'redirect'}}>登录</button>
	</div>
	{{else}}
	<div id="login-form">
		<input class="form-control input-lg" autofocus="" id="username" type="text" placeholder="用户名">

		<input class="form-control input-lg" id="password" type="password" placeholder="密码">
		<label><input id="chk_remember" type="checkbox">记住我</label>
		<button id="btn-login" class="btn btn-primary btn-lg btn-block" type="submit" {{action 'login'}}>登录</button>
	</div>
	{{/if}}
	<div id="bmy-links">
		<div class="bmy-link-line">
			<a href="#">匿名登录</a>
			<a href="#">telnet登录</a>
		</div>
		<div class="bmy-link-line">
			<a href="#">CTerm工具下载</a>
			<span id="newreg">新用户注册</span>
		</div>
		<div class="bmy-link-line">
			<a href="#">老 Web</a>
			<a href="#">找回密码</a>
		</div>
	</div>
</div>
