<div class="row">
	<div class="col-md-2">
		<table class="table">
			<thead>
				<tr><td>配置项</td></tr>
			</thead>
			<tr>
				<td>{{#link-to 'settings.friends'}}好友管理{{/link-to}}</td>
			</tr>
			<tr>
				<td>{{#link-to 'settings.rejects'}}黑名单管理{{/link-to}}</td>
			</tr>
			<tr>
				<td>{{#link-to 'settings.favourite'}}收藏夹管理{{/link-to}}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-10">{{outlet}}</div>
</div>
