<div class="row">
	<div class="col-md-2">
		<div class="page-header">
			<h2>配置项</h2>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<td>{{#link-to 'settings.friends'}}<span class="glyphicon glyphicon-user"></span>&nbsp;好友管理{{/link-to}}</td>
				</tr>
				<tr>
					<td>{{#link-to 'settings.rejects'}}<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;黑名单管理{{/link-to}}</td>
				</tr>
				<tr>
					<td>{{#link-to 'settings.favourite'}}<span class="glyphicon glyphicon-heart"></span>&nbsp;收藏夹管理{{/link-to}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-10">{{outlet}}</div>
</div>
